/*fonts for header and footer*/
@font-face {
    font-family: 'furoreregular';
    src: url('./fonts/furore-webfont.woff2') format('woff2'),
         url('./fonts/furore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*universal box-sizing reset*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*basic body config*/
body {    
    /*the default body has margin and a small viewport
    compared to the html size, so we do the above:*/
    margin: 0px;
    height: 100vh;
    /**/
  }

/*header and footer*/
#header,
#footer {
    text-align: center;
    padding-bottom: 18px;
    font-family: "furoreregular", serif;
  }

/*content area*/
#content {
    display: flex;
}

.canvasBox,
.panelsBox {
    flex: 1 1 50%;
}

.instructionsCaption,
.toolsCaption {
    display: flex;
}

.rainbowContainer,
.brushContainer,
.colorContainer,
.eraserContainer,
.clearContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid rebeccapurple;
}

.rainbowContainer>*,
.brushContainer>*,
.colorContainer>*,
.eraserContainer>*,
.clearContainer>* {
    width: 128px;
    border: 2px solid red;
}